/general/internet/internetChecker/Bruh.mp3
/stupid/penis.py
/general/fileManipulation/Pseudo_Virus_Creator/READ_ME.txt
/general/fileManipulation/Pseudo_Virus_Creator/dist/
/general/fileManipulation/Pseudo_Virus_Creator/build/
/general/internet/internetChecker/.idea/
/general/internet/IsItUp/.idea/
/misc/DnD/dnd-tools.py
/general/movingStuff/usbFileExtractor/venv/
/general/movingStuff/usbFileExtractor/dist/
/general/movingStuff/usbFileExtractor/build/
/general/movingStuff/usbFileExtractor/.idea/
/general/movingStuff/source/.idea/
